<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div class="container center-contents">
    <div class="row">
        <h1 class="title display-5"> 메인 페이지 </h1>
    </div>

    <div class="row">
        <div class="col-12 align-items-center">
            SESSION ID : <span th:text="${sessionId}">SESSION_ID</span>
        </div>
    </div>

    <div class="links">

        <div class="link" sec:authorize="isAnonymous()">
            <a href="/login" class="text-decoration-none"> 로그인 </a>
        </div>
        <div class="link" sec:authorize="isAuthenticated()">
            <a href="/user-page" class="text-decoration-none"> 유저 페이지 </a>
        </div>
        <div class="link" sec:authorize="isAuthenticated()">
            <a href="/admin-page" class="text-decoration-none"> 관리자 페이지 </a>
        </div>

        <div class="link" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-info">로그 아웃</button>
            </form>
        </div>


    </div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>